body {
    font-family: sans-serif;
}

p {
    line-height: 1.5;
}

.container {
    display: flex;
    align-items: flex-start;
}
.container__half {
    width: 50%;
}
.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.5rem;
    top: 0;
    left: 0;
    position: fixed;
    background-image: url('../images/nicole.jpg');
    background-size: cover;
    background-position: 25% 32%;
    background-color: orange;
}


.logo {
   
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    color: white;
    align-items: flex-start;
}
